<script>
$(document).ready(function(){
   
    
});
</script>
<script>
    i=1;
    function deleteElem(elem){
        elem.parentElement.parentElement.remove();
    }
    function addElem(elem){
        var id = $(elem).parent().parent().attr('id');
        {{!-- $('<div id=item'+(i)+'></div>').append('.goods'); --}}
        $('.goods').append('<div id=item'+(i)+'></div>')
        $('#item').find(".content").clone().appendTo('#item'+i);
        //$('#item'+i).find('input').attr('name','data'+i);
        $('#item'+i).find('button').attr('id','delete'+i);
        i++;
    }
</script>
<div id="item" style="display:none;">
    <div class="content">
        <select name="goodsD" id="goodsD">
        {{#each goodsD}}
             <option value="{{this.ProdCode}},{{this.ProdDescription}}">{{this.ProdDescription}}</option>
        {{/each}}
        </select>
        <input type="text" name="quan">
        <input type="text" name="data">
        <input value='delete' type="button" name='delete' onclick='deleteElem(this)' >
    </div>
</div>
<div class="container login-container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="invoice-wrapper col-12">
            <h1>Build Invoice</h1>
            <div class="form-wrapper">
                <form id='goodsForm' action="/generateInvoice" method="POST">
                <label for="">Supplier:</label>
                <input class="clientsupFields" type="text" name='sup' id="supField" value="{{supD}}" readonly>
                <label for="">Client:</label>
                <input class="clientsupFields" type="text" name='client' id="clientField" value="{{clientD}}" readonly>
                <hr>
                <div class="top-input-form">
                    <h3>General Inputs</h3>
                    <div class="row">
                        <div class="col-6">

                            <div class="top-input-form-item">
                                <div>
                                    <label for="">Supplier invoice number</label>
                                </div>
                                <input type="text" name="supInvNum">
                            </div>
                            <div class="top-input-form-item">
                                <div>
                                <label for="">Supplier invoice Date</label>

                                </div>
                                <input type="date" name="supInvDate">
                            </div>
                            <div class="top-input-form-item">
                                <div>
                                <label for="">Customer Account Number</label>

                                </div>
                                <input type="text" name="custAccNum">
                            </div>
                            <div class="top-input-form-item">
                                <div>
                                <label for="">Customs Value</label>

                                </div>
                                <input type="text" name="customsVal">
                            </div>
                            <div class="top-input-form-item">
                                <div>
                                <label for="">Total Duty</label>

                                </div>
                                <input type="text" name="totalDuty">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="top-input-form-item">
                                <div>
                                <label for="">VAT</label>

                                </div>
                                <input type="text" name="vat">
                            </div>
                            <div class="top-input-form-item">
                                <div>
                                    
                                <label for="">Discount</label>
                                </div>
                                <input type="text" name="discount">
                            </div>
                            <div class="top-input-form-item">
                                <div>

                                <label for="">Shipping 	&amp; Handling </label>
                                </div>
                                <input type="text" name="shipHan">
                            </div>
                            <div class="top-input-form-item">
                                <div>

                                <label for="">Weight</label>
                                </div>
                                <input type="text" name="weight">
                            </div>
                            <div class="top-input-form-item">
                                <div>

                                <label for="">Description</label>
                                </div>
                                <input type="text" name="description">
                            </div>
                        </div>
                        </div>
                    </div>
                <hr>
                <h3>Choose Products</h3>
                    <div class="goods">
                        <div class="labels">
                            <label for="">Product:</label>
                            <label for="">Quantity:</label>
                            <label for="">Amount:</label>
                        </div>
                        <div id="item0">
                            <div class="content">
                                <select name="goodsD" id="goodsD">
                                {{#each goodsD}}
                                    <option value="{{this.ProdCode}},{{this.ProdDescription}}">{{this.ProdDescription}}</option>
                                {{/each}}
                                </select>
                                <input type="text" name="quan">
                                <input type="text" name="data">
                                <input value='delete' type="button" name='delete' onclick='deleteElem(this)' >
                            </div>
                        </div>
                    </div>
                    <input id='goodsSubmit' type="submit" value="submit">
                    <input value='add' type="button" name='add' onclick='addElem(this)' >
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- <a href="/generatePDF">Generate Invoices</a>
<a href="/download">download</a>
<a href="/pdf/invoice1.pdf" target="_blank">preview</a> --}}
