<script>
$(document).ready(function(){
   
    
});
</script>
<script>
    i=1;
    function deleteElem(elem){
        elem.parentElement.parentElement.remove();
    }
    function addElem(elem){
        var id = $(elem).parent().parent().attr('id');
        $('<div id=item'+(i)+'></div>').insertAfter('#'+id);
        $('#item').find(".content").clone().appendTo('#item'+i);
        //$('#item'+i).find('input').attr('name','data'+i);
        $('#item'+i).find('button').attr('id','delete'+i);
        i++;
    }
</script>
<div id="item" style="display:none;">
    <div class="content">
        <select name="goodsD" id="goodsD">
        {{#each goodsD}}
             <option value="{{this.ProdCode}},{{this.ProdDescription}}">{{this.ProdDescription}}</option>
        {{/each}}
        </select>
        <input type="text" name="quan">
        <input type="text" name="data">
        <input value='add' type="button" name='add' onclick='addElem(this)' >
        <input value='delete' type="button" name='delete' onclick='deleteElem(this)' >
    </div>
</div>
<div class="container-fluid login-container d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="invoice-wrapper col-12">
            <h1>Build Invoice</h1>
            <div class="form-wrapper">
                <form id='goodsForm' action="/generateInvoice" method="POST">
                <label for="">Supplier:</label>
                <input type="text" name='sup' id="supField" value={{supD}}>
                <label for="">Client:</label>
                <input type="text" name='client' id="clientField" value={{clientD}}>
                    <div class="goods">
                        <div class="labels">
                            <label for="">Product:</label>
                            <label for="">Quantity:</label>
                            <label for="">Amount:</label>
                        </div>
                        <div id="item0">
                            <div class="content">
                                <select name="goodsD" id="goodsD">
                                {{#each goodsD}}
                                    <option value="{{this.ProdCode}},{{this.ProdDescription}}">{{this.ProdDescription}}</option>
                                {{/each}}
                                </select>
                                <input type="text" name="quan">
                                <input type="text" name="data">
                                <input value='add' type="button" name='add' onclick='addElem(this)' >
                                <input value='delete' type="button" name='delete' onclick='deleteElem(this)' >
                            </div>
                        </div>
                    </div>
                    <input id='goodsSubmit' type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- <a href="/generatePDF">Generate Invoices</a>
<a href="/download">download</a>
<a href="/pdf/invoice1.pdf" target="_blank">preview</a> --}}
